*.swo
*.swp
*.iml
.idea
.DS_Store
target
overlays
rebel.xml
.externalToolBuilders
maven-eclipse.xml
coverage-error.log
.settings
.project
.classpath
/runner/*.error
.checkstyle
.ruleset
.pmd
atlassian-ide-plugin.xml
/temp
build
.gradle
out
classes
